/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    /* Ensure there's enough space at the bottom */
    padding-bottom: 100px; /* Adjust the value based on your footer's height */
}

header {
    background-color: #007bff;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}


footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}



/* Buttons and Links */
.button, .btn-save {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.button:hover, .btn-save:hover {
    background-color: #0056b3;
}

.cancel {
    background-color: #6c757d;
}

.cancel:hover {
    background-color: #5a6268;
}

/* Form styling */
form {
    max-width: 600px;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Product List Page */
#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust minmax for more items per row */
    gap: 20px;
    padding: 20px;
    margin-bottom: 50px; /* Ensure there's space for the footer */
}

.product-item {
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
}

.product-item h3, .product-item p {
    margin: 5px 0;
}

/* Ensure that the form doesn't extend into the footer area */
.product-form {
    margin-bottom: 50px; /* Provide some space at the bottom of the form */
}

.delete-checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
}

#delete-product-btn {
    background-color: #dc3545;
}

#delete-product-btn:hover {
    background-color: #c82333;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .button, .btn-save {
        width: 100%;
        margin-top: 10px;
    }

    form {
        width: 90%;
        margin: 20px auto;
    }
}
